[build]
builder = "nixpacks"
buildCommand = "npm run install:all && npm run build"

[deploy]
startCommand = "npm start"

[[services]]
name = "juridica-news"

[[services.volumes]]
mountPath = "/app/backend/storage"
name = "juridica-storage"
size = "1Gi"

[[services.volumes]]
mountPath = "/app/backend/prisma"
name = "juridica-database"
size = "1Gi"
