[build]
builder = "nixpacks"
buildCommand = "npm run install:all && cd backend && npx prisma generate && cd .. && rm -rf frontend/dist backend/dist && npm run build && npm run verify:build"

[deploy]
startCommand = "npm start"

[[services]]
name = "juridica-news"

[[services.volumes]]
mountPath = "/app/backend/storage"
name = "juridica-storage"
size = "1Gi"

[[services.volumes]]
mountPath = "/app/backend/prisma"
name = "juridica-database"
size = "1Gi"
